data/panda/train/J-5000000-7-7-1.npy filter=lfs diff=lfs merge=lfs -text
data/panda/train/F-5000000-7-7-1.npy filter=lfs diff=lfs merge=lfs -text
data/panda/train/P-5000000-7-7-1.npy filter=lfs diff=lfs merge=lfs -text
